@font-face {
font-family: myFirstFont;
src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
  font-family: 'Montserrat', sans-serif;


}

$color0: rgba(26, 26, 26, .96);
$color1: #0a0a0aff;
$color2: #1a181aff;
$color3: #505050ff;
$color4: #7e7b75;
$color5: #857F72;
$color6: #434038ff;
$color7: #eee3c1ff;
$color8: #eee3c1ff;
$color9: #eee3c1ff;
$color10: #FAF9F7;


$task-color1: #d1342fff;
$task-color2: #434038ff;
$task-color3: #DDCA7D;